{% load staticfiles %}
<!--DOCTYPE html -->
<html>
<head>
<title>{% block head_title %}blog{% endblock head_title %}</title>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" >

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" >


<!-- <link rel='stylesheet' src ='./static/css/base.css" %}' /> -->
<style>
 h1 {
 	color: #E74C3C ;
 	text-align: center;
 	font-family: "Brush Script MT", cursive;
 	font-size: 70px;
 }
 .title {
 	color: #E74C3C ;
 	text-align: center;
 	font-family: "Brush Script MT", cursive;
 	font-size: 20px;
 }
 .navbarstyle {
 	color: #E74C3C ;
 	font-size: 20px;
 	font-family: "Brush Script MT", cursive;
 }
 .myfieldclass {
 	height: 70px;
 	width: 100%;
 }
 .comment_btn {
 	margin-top: 0.2cm;
 	float: right;
 }
 
.comment-reply{
    display:none;
}
</style>
</head>
<body>
     {% include "navbar.html" %}
<div class="container-fluid">
	 {% block content %}
	 {% endblock content %}
</div>


<script src="https://code.jquery.com/jquery-3.2.1.min.js"
  integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
  crossorigin="anonymous"></script>
 

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>

<script type="text/javascript">
    $(".comment-reply-btn").click(function(event){
        event.preventDefault();
        $(this).parent().next(".comment-reply").fadeToggle();
    })
</script>
</body>
</html>



