<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <a class="navbar-brand" href="{% url 'posts:list' %}">Blog</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
       {% if islist %}
           {% include "search_form.html" %}
       {% endif %}
      <ul class="nav navbar-nav navbar-right">
        {% if islogin %}
        <li class="navbarstyle"><a href="{{ userUrl }}">Hello {{ user }}</a><li>
<!--          {% if islist %}
         <li> <a href="{{ obj.get_delete_url }}" class="btn btn-primary isfollow" role="button">Follow</a></li>
         {% endif %} -->
        <li><a href="{% url 'posts:create' %}">Create</a></li>
        <li><a href="{% url 'profiles:logout' %}">Logout</a></li>
        {% else %}
        <li><a href="{% url 'profiles:login' %}">Login</a></li>
        <li><a href="{% url 'profiles:register' %}">Register</a></li>
        {% endif %}
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>